<div id="nmp-container" class="container-fluid nmp-container">

    <div id="nmp-banner" class="col-12 nmp-banner">
        <video autoplay loop muted playsinline disablepictureinpicture class="background-video" id="background-video"></video>
        <p class="nmp-main-title">ROCK & ROSES</p>
    </div>

    <div id="nmp-about-us" class="col-10 nmp-about-us">
        <p class="nmp-about-title">Про нас</p>
        <p class="nmp-about-text">
            Rock and Roses – ваш експерт у створенні незабутніх вражень. Ми не просто квітковий магазин – ми перетворюємо квіти на ключовий елемент вашої особистої історії. Незалежно від того, чи це подарунок для коханої людини, чи знак уваги для колеги, ми допоможемо вам висловити свої почуття через красу квітів.
            <br /><br />
            Ми допоможемо створити романтичну подію, яка буде такою ж яскравою і ніжною, як букет, що передає ваші почуття. Ми спеціалізуємося на організації пропозицій, несподіваних сюрпризів та незабутніх побачень, які наповнюють кожен момент квітковою магією. За нашими плечима понад 150 організованих романтичних побачень, і понад 50 дівчат сказали “Так” під час наших квіткових пропозицій руки і серця.
        </p>
    </div>
    
    <div id="nmp-advantages" class="col-10 nmp-advantages">
        <div class="col-4 nmp-advantages-left">
            <video autoplay loop muted playsinline disablepictureinpicture class="advantages-video" id="advantages-video"></video>
        </div>

        <div class="col-7 nmp-advantages-right">
            <p class="nmp-advantages-title">Наші переваги</p>

            <p class="nmp-advantages-text">@* Ексклюзивність:  *@Унікальні дизайни букетів та оригінальні сценарії подій роблять кожну подію неповторною.</p>
            
            <p class="nmp-advantages-text">@* Зручність:  *@Ми беремо на себе всі організаційні моменти – від вибору квітів до підготовки сюрпризу, що дозволяє вам насолоджуватися моментом.</p>
            
            <p class="nmp-advantages-text">@* Якість:  *@Використовуємо тільки свіжі, відбірні квіти, щоб кожен букет був ідеальним.</p>

            <p class="nmp-advantages-text">@* Доставка:  *@Ми гарантуємо швидку доставку букетів і сюрпризів по Кракову, щоб ваші почуття були висловлені вчасно.</p>
        </div>
    </div>

    <div class="col-10 nmp-services">
        <p class="nmp-services-title">Наші послуги</p>

        <div class="col-12 nmp-container-services">
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
            <div class="col-2 nmp-services-div">
                <img class="nmp-services-img" src="/data/servicepage/1.jpg" alt="" />
                <p class="nmp-services-text">Букет авторских цветов</p>
            </div>
        </div>
    </div>

    <div class="col-10 nmp-gallery">
        @{
            if (Context.Request.Cookies["Language"] == "en")
            {
                <p class="nmp-gallery-title">Gallery</p>
            }
            else
            {
                <p class="nmp-gallery-title">Галерея</p>
            }
        }

        <div class="col-12">
            <div class="row nmp-gallery-row">
                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/1.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/2.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/3.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/4.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/5.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/6.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/7.jpg" alt="" />
                </div>

                <div class="col-3 nmp-gallery-img-div">
                    <img class="nmp-gallery-img" src="/data/mainpage/gallery/8.jpg" alt="" />
                </div>
            </div>
        </div>

        <div class="nmp-gallery-arrow">
            <a style="display: flex; text-decoration: none; color: black;" asp-controller="Page" asp-action="Gallery" onmouseover="galleryOver()" onmouseout="galleryOut()">
                <p id="nmpArrowText" class="nmp-gallery-arrow-text">Бiльше</p>
                <img class="nmpArrowImg" src="/data/arrow_link.png" width="80" alt="" />
            </a>
        </div>
    </div>

    <div class="col-10 nmp-feedback">

        @{
            if (Context.Request.Cookies["Language"] == "en")
            {
                <p class="nmp-feedback-big-title">Feedback</p>
            }
            else
            {
                <p class="nmp-feedback-big-title">Відгуки</p>
            }
        }

        <div class="col-12 nmp-feedback-container">

            <div class="col-1 nmp-feedback-btn-div">
                <button class="nmp-feedback-btn" type="button" onclick="changeFeedback(-1)" onmouseover="feedbackOver(0)" onmouseout="feedbackOut(0)">
                    <img id="nmp-feedback-arrow-left" class="nmp-feedback-btn-img" src="/data/arrow_left.png" alt="" />
                </button>
            </div>

            <div class="col-10 nmp-feedback-data-div">

                <div class="col-4 nmp-feedback-img-div">
                    <img class="nmp-feedback-img" src="/data/mainpage/feedback/1.jpg" alt="" />
                    <img class="nmp-feedback-img" src="/data/mainpage/feedback/2.jpg" alt="" />
                    <img class="nmp-feedback-img" src="/data/mainpage/feedback/3.jpg" alt="" />
                    <img class="nmp-feedback-img" src="/data/mainpage/feedback/4.jpg" alt="" />
                    <img class="nmp-feedback-img" src="/data/mainpage/feedback/5.jpg" alt="" />
                </div>

                <div class="col-8 nmp-feedback-text-div">
                    <div>
                        @{
                            if (Context.Request.Cookies["Language"] == "en")
                            {
                                for (int i = 0; i < HomeModelEnglish.feedbackTitle.Count; i++)
                                {
                                    <p class="nmp-feedback-title">@HomeModelEnglish.feedbackTitle[i]</p>
                                }
                            }
                            else if (Context.Request.Cookies["Language"] == "pl")
                            {
                                for (int i = 0; i < HomeModelPoland.feedbackTitle.Count; i++)
                                {
                                    <p class="nmp-feedback-title">@HomeModelPoland.feedbackTitle[i]</p>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < HomeModelUkrainian.feedbackTitle.Count; i++)
                                {
                                    <p class="nmp-feedback-title">@HomeModelUkrainian.feedbackTitle[i]</p>
                                }
                            }
                        }
                    </div>

                    <div>
                        @{
                            if (Context.Request.Cookies["Language"] == "en")
                            {
                                for (int i = 0; i < HomeModelEnglish.feedbackText.Count; i++)
                                {
                                    <p class="nmp-feedback-text">@HomeModelEnglish.feedbackText[i]</p>
                                }
                            }
                            else if (Context.Request.Cookies["Language"] == "pl")
                            {
                                for (int i = 0; i < HomeModelPoland.feedbackText.Count; i++)
                                {
                                    <p class="nmp-feedback-text">@HomeModelPoland.feedbackText[i]</p>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < HomeModelUkrainian.feedbackText.Count; i++)
                                {
                                    <p class="nmp-feedback-text">@HomeModelUkrainian.feedbackText[i]</p>
                                }
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="col-1 nmp-feedback-btn-div">
                <button class="nmp-feedback-btn" type="button" onclick="changeFeedback(1)" onmouseover="feedbackOver(1)" onmouseout="feedbackOut(1)">
                    <img id="nmp-feedback-arrow-right" class="nmp-feedback-btn-img" src="/data/arrow_right.png" alt="" />
                </button>
            </div>

        </div>

    </div>

</div>


<script type="text/javascript"> 

    window.onload = function () {
        setColorActiveTitle();

        loadBackgroundVideo();

        resizeAboutUs();
        resizeAdvantages();

        loadAdvantagesVideo();
    }

    window.addEventListener('load', function () {
        changeFeedback(0);
        resizeBackgroundVideo();
    })

    window.addEventListener('resize', function (event) {
        resizeBackgroundVideo();
        resizeAboutUs();
        resizeAdvantages();
    });

    function setColorActiveTitle() {
        document.getElementById("home-title").style.color = "#cc8f9e";
    }

    function loadBackgroundVideo() {
        const video = document.getElementById("background-video");
        let ratio = window.screen.width / window.screen.height;

        const arraySrc = new Array();

        if (ratio > 1) {
            arraySrc[0] = "/data/newbackground_horizontal.webm";
            arraySrc[1] = "/data/newbackground_horizontal.mp4";
            arraySrc[2] = "/data/newbackground_horizontal.ogv";
        }
        else {
            arraySrc[0] = "/data/newbackground_vertical.webm";
            arraySrc[1] = "/data/newbackground_vertical.mp4";
            arraySrc[2] = "/data/newbackground_vertical.ogv";
        }

        const arrayType = new Array();

        arrayType[0] = "video/webm";
        arrayType[1] = "video/mp4";
        arrayType[2] = "video/ogg";

        for (let i = 0; i < arraySrc.length; i++) {
            const source = document.createElement("source");

            source.setAttribute("src", arraySrc[i]);
            source.setAttribute("type", arrayType[i]);

            video.appendChild(source);
        }

        document.querySelectorAll('video').forEach(v => { v.setAttribute('pip', 'false'); })
        resizeBackgroundVideo();
    }

    function resizeBackgroundVideo() {
        let ratio = window.innerWidth / window.innerHeight;

        const container = document.getElementById("nmp-container");
        const div = document.getElementById("nmp-banner");
        const video = document.getElementById("background-video");

        let heightWindow = document.documentElement.clientHeight;
        let heightHeader = document.getElementById("header").offsetHeight;

        const notification = document.getElementById("cookies-notification");
        let heightNotification = 0;
        if (notification != null) heightNotification = notification.offsetHeight;

        let heightVideo = heightWindow - (heightHeader + heightNotification);

        container.style.paddingTop = heightHeader + "px";
        video.style.height = heightVideo + "px";
    }

    function resizeAboutUs() {
        const div = document.getElementById("nmp-about-us");

        let heightWindow = document.documentElement.clientHeight;
        let heightHeader = document.getElementById("header").offsetHeight;

        let heightDiv = heightWindow - heightHeader;

        div.style.height = heightDiv + "px";
    }

    function resizeAdvantages() {
        const div = document.getElementById("nmp-advantages");

        let heightWindow = document.documentElement.clientHeight;
        let heightHeader = document.getElementById("header").offsetHeight;

        let heightDiv = heightWindow - heightHeader;

        div.style.height = heightDiv + "px";
    }

    function loadAdvantagesVideo() {

        const video = document.getElementById("advantages-video");
        let ratio = window.screen.width / window.screen.height;

        const arraySrc = new Array();

        arraySrc[0] = "/data/advantages.webm";
        arraySrc[1] = "/data/advantages.mp4";
        arraySrc[2] = "/data/advantages.ogv";

        const arrayType = new Array();

        arrayType[0] = "video/webm";
        arrayType[1] = "video/mp4";
        arrayType[2] = "video/ogg";

        for (let i = 0; i < arraySrc.length; i++) {
            const source = document.createElement("source");

            source.setAttribute("src", arraySrc[i]);
            source.setAttribute("type", arrayType[i]);

            video.appendChild(source);
        }

        document.querySelectorAll('video').forEach(v => { v.setAttribute('pip', 'false'); })
    }

    function galleryOver() {
        document.getElementById("nmpArrowText").style.color = "#cc8f9e";
        document.getElementsByClassName("nmpArrowImg")[0].src = "/data/arrow_link_color.png";
    }

    function galleryOut() {
        document.getElementById("nmpArrowText").style.color = "black";
        document.getElementsByClassName("nmpArrowImg")[0].src = "/data/arrow_link.png";
    }

    let indexFeedback = 0;
    function changeFeedback(step) {
        var index = indexFeedback + step;

        if (index <= -2 || index >= 6) return;
        if (index == -1) index = 4;
        if (index == 5) index = 0;

        var arrayTitle = document.getElementsByClassName("nmp-feedback-title");
        var arrayText = document.getElementsByClassName("nmp-feedback-text");
        var arrayImg = document.getElementsByClassName("nmp-feedback-img");

        for (var i = 0; i < arrayTitle.length; i++) {
            if (i == index) {
                arrayTitle[i].style.display = "block";
                arrayText[i].style.display = "block";
                arrayImg[i].style.display = "block";
            }
            else {
                arrayTitle[i].style.display = "none";
                arrayText[i].style.display = "none";
                arrayImg[i].style.display = "none";
            }
        }

        indexFeedback = index;
    }

    function feedbackOver(side) {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            if (side == 0) {
                document.getElementsByClassName("nmp-feedback-btn-img")[0].src = "/data/arrow_left_color.png";
            }

            if (side == 1) {
                document.getElementsByClassName("nmp-feedback-btn-img")[1].src = "/data/arrow_right_color.png";
            }
        }
    }

    function feedbackOut(side) {
        if (side == 0) {
            document.getElementsByClassName("nmp-feedback-btn-img")[0].src = "/data/arrow_left.png";
        }

        if (side == 1) {
            document.getElementsByClassName("nmp-feedback-btn-img")[1].src = "/data/arrow_right.png";
        }
    }

</script>
