<video video autoplay loop muted playsinline class="background" id="background"></video>

@{
    Service service = DataClass.Services.First(x => x.Id == ViewBag.IdService);
    List<StorageImageService> listImg = DataClass.ServiceImages.Where(x => x.IdService == service.Id).OrderBy(x => x.Number).ToList();
    ViewBag.SelectedType = DataClass.TypeService.First(x => x.Id == service.IdType).NameEn;
    List<PackageService> packages = DataClass.Packages.Where(x => x.IdService == service.Id).OrderBy(x => x.PriceZloty).ToList();
}

<div id="detailsContainer" class="container-fluid details-container">

    <div id="mp-banner" class="col-9 mp-banner">

        <div class="carousel" data-bs-touch="false">

            <div id="banner-carousel-div" class="carousel-inner" style="position: relative;">

                <div class="big-title-div">
                    <div><p class="banner-big-title">Lovely Love Agency</p></div>
                    <div class="banner-line-div"><img class="banner-line-img" src="/data/mainpage/banner/line.png"></div>

                    <div>
                        @{
                            if (Context.Request.Cookies["Language"] == "en")
                            {
                                if (ViewBag.SelectedType == "Datings")
                                {
                                        <p class="banner-service-title">Romantic dates</p>
                                }
                                else if (ViewBag.SelectedType == "Surprises")
                                {
                                        <p class="banner-service-title">Romantic surprises</p>
                                }
                                else
                                {
                                        <p class="banner-service-title">Proposals</p>
                                }
                            }
                            else
                            {
                                if (ViewBag.SelectedType == "Datings")
                                {
                                        <p class="banner-service-title">Романтичні побачення</p>
                                }
                                else if (ViewBag.SelectedType == "Surprises")
                                {
                                        <p class="banner-service-title">Романтичні сюрпризи</p>
                                }
                                else
                                {
                                        <p class="banner-service-title">Пропозиції руки та серця</p>
                                }
                            }
                        }
                    </div>

                    <div class="banner-line-div"><img class="banner-line-img" src="/data/mainpage/banner/line.png"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-9 details-service-data">

        <div class="col-12 details-first-div">

            <div class="col-12 details-first-name-div">
                @if (Context.Request.Cookies["Language"] == "en")
                {
                    <p class="details-name-p">@service.NameEn</p>
                }
                else
                {
                    <p class="details-name-p">@service.NameUa</p>
                }
            </div>

            <div class="col-12 details-first-container">

                <div class="col-7 details-first-data-div">

                    <div class="col-12 details-first-text-div">
                        @if (Context.Request.Cookies["Language"] == "en")
                        {
                            <p id="serviceDescription" class="details-text-p">@Html.Raw(service.DescriptionEn)</p>
                        }
                        else
                        {
                            <p id="serviceDescription" class="details-text-p">@Html.Raw(service.DescriptionUa)</p>
                        }
                    </div>

                </div>

                <div id="carouselInnerContainer" class="col-5 carousel carousel-inner-container">

                    <div class="carousel-indicators">
                        @{
                            if (listImg.Count >= 1)
                            {
                                for (int i = 0; i < listImg.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                            <button type="button" data-bs-target="#carouselInnerContainer" data-bs-slide-to="@(i)" class="carousel-indicator carousel-indicator-btn active" aria-current="true"></button>
                                    }
                                    else
                                    {
                                            <button type="button" data-bs-target="#carouselInnerContainer" data-bs-slide-to="@(i)" class="carousel-indicator carousel-indicator-btn"></button>
                                    }
                                }
                            }
                            else
                            {
                                    <button type="button" data-bs-target="#carouselInnerContainer" data-bs-slide-to="0" class="carousel-indicator carousel-indicator-btn active" aria-current="true"></button>
                            }
                        }
                    </div>

                    <div class="col-1 details-btn-div">
                        <button class="details-btn" type="button" onclick="changeCarousel(-1)" onmouseover="carouselOver(0)" onmouseout="carouselOut(0)">
                            <img class="details-btn-img" src="/data/arrow_left.png" alt="" />
                        </button>
                    </div>

                    <div class="col-10 details-carousel-div">
                        @{
                            if (listImg.Count >= 1)
                            {
                                for (int i = 0; i < listImg.Count(); i++)
                                {
                                        <img class="details-carousel-img" src="/data/services/@(listImg[i].Path)" alt="" />
                                }
                            }
                            else
                            {
                                    <img class="details-carousel-img" src="/data/no-image.png" alt="" />
                            }
                        }
                    </div>

                    <div class="col-1 details-btn-div">
                        <button class="details-btn" type="button" onclick="changeCarousel(1)" onmouseover="carouselOver(1)" onmouseout="carouselOut(1)">
                            <img class="details-btn-img" src="/data/arrow_right.png" alt="" />
                        </button>
                    </div>

                </div>

            </div>

        </div>

        @if (packages.Count == 0)
        {
            <div class="col-12 details-second-div">

                <div id="detailsSecondContainer" class="details-second-container">

                    @if (Context.Request.Cookies["Language"] == "en")
                    {
                        <p class="details-price-p">Price: start to @service.PriceZloty</p>
                        <a asp-controller="Page" asp-action="Contact" asp-route-selectedData="@ViewBag.IdService" class="btn details-btn-contact" style="width: 100%;">Choose a service</a>

                    }
                    else
                    {
                        <p class="details-price-p">Вартість: від @service.PriceZloty</p>
                        <a asp-controller="Page" asp-action="Contact" asp-route-selectedData="@ViewBag.IdService" class="btn details-btn-contact" style="width: 100%;">Вибрати послугу</a>
                    }

                </div>

            </div>
        }

    </div>

    @if (packages.Count() >= 1)
    {
        <div id="packagesContainer" class="col-12 details-package-data">

            @for (int i = 0; i < packages.Count(); i++)
            {
                List<string>? details = new List<string>();

                @if (Context.Request.Cookies["Language"] == "en")
                {
                    details = packages[i].DescriptionEn?.Split("|").ToList();
                }
                else
                {
                    details = packages[i].DescriptionUa?.Split("|").ToList();
                }

                <div class="col-4 package-container">

                    <div class="col-12 package-first-div">
                        <p class="package-name-p"><span>♡</span> @packages[i].Name</p>
                    </div>

                    <div class="col-12 package-second-div">

                        @if (Context.Request.Cookies["Language"] == "en")
                        {
                            <p class="package-details-p">Details</p>
                        }
                        else
                        {
                            <p class="package-details-p">Подробиці</p>
                        }

                        @for (int j = 0; j < details?.Count(); j++)
                        {
                            <p class="package-description-p">@details[j]</p>
                        }

                        @if (Context.Request.Cookies["Language"] == "en")
                        {
                            <p class="package-duration-p">Duration: @packages[i].DurationEn</p>

                            <p class="package-price-p">Price: start to @packages[i].PriceZloty</p>
                        }
                        else
                        {
                            <p class="package-duration-p">Тривалість: @packages[i].DurationUa</p>

                            <p class="package-price-p">Вартість: від @packages[i].PriceZloty</p>
                        }

                    </div>

                    <div class="col-12 package-third-div">
                        @if (Context.Request.Cookies["Language"] == "en")
                        {
                            <a asp-controller="Page" asp-action="Contact" asp-route-selectedData="@(ViewBag.IdService)|@(packages[i].Id)" class="btn btn-success details-btn-package">Choose a package</a>
                        }
                        else
                        {
                            <a asp-controller="Page" asp-action="Contact" asp-route-selectedData="@(ViewBag.IdService)|@(packages[i].Id)" class="btn btn-success details-btn-package">Вибрати пакет</a>
                        }
                    </div>

                </div>
            }

        </div>
    }

</div>

<script type="text/javascript">

    window.onload = function () {
        setBackground();
        setImageBanner();
        changeSlideBanner();
        setMarginBanner();

        changeCarousel(0);
        changeCarouselSize();
        changeHeightText();
    }

    window.addEventListener('load', function () {
        setImageBanner();
        setMarginBanner();

        changeCarousel(0);
        changeCarouselSize();
        changeHeightText();
    })

    window.addEventListener('resize', function (event) {
        setImageBanner();
        setMarginBanner();

        changeCarousel(0);
        changeCarouselSize();
        changeHeightText();
    });

    function setBackground() {

        var video = document.getElementById("background");
        var ratio = window.screen.width / window.screen.height;

        var arraySrc = new Array();

        if (ratio > 1) {
            arraySrc[0] = "/data/background_horizontal.mp4"
            arraySrc[1] = "/data/background_horizontal.webm";
            arraySrc[2] = "/data/background_horizontal.mov";
            arraySrc[3] = "/data/background_horizontal.ogv";
        }
        else {
            arraySrc[0] = "/data/background_vertical.mp4"
            arraySrc[1] = "/data/background_vertical.webm";
            arraySrc[2] = "/data/background_vertical.mov";
            arraySrc[3] = "/data/background_vertical.ogv";
        }

        var arrayType = new Array();

        arrayType[0] = "video/mp4";
        arrayType[1] = "video/webm";
        arrayType[2] = "video/mov"
        arrayType[3] = "video/ogg";

        for (var i = 0; i < arraySrc.length; i++) {
            var source = document.createElement("source");

            source.setAttribute("src", arraySrc[i]);
            source.setAttribute("type", arrayType[i]);

            video.appendChild(source);
        }

        document.querySelectorAll('video').forEach(v => { v.setAttribute('pip', 'false'); })
    }

    let img_pc_1 = document.createElement("img");
    img_pc_1.src = "/data/servicepage/banner/1_pc.jpg";
    img_pc_1.className += "carousel-item carousel-banner-item";

    let img_pc_2 = document.createElement("img");
    img_pc_2.src = "/data/servicepage/banner/2_pc.jpg";
    img_pc_2.className += "carousel-item carousel-banner-item";

    let img_pc_3 = document.createElement("img");
    img_pc_3.src = "/data/servicepage/banner/3_pc.jpg";
    img_pc_3.className += "carousel-item carousel-banner-item";

    let img_tel_1 = document.createElement("img");
    img_tel_1.src = "/data/servicepage/banner/1_tel.jpg";
    img_tel_1.className += "carousel-item carousel-banner-item";

    let img_tel_2 = document.createElement("img");
    img_tel_2.src = "/data/servicepage/banner/2_tel.jpg";
    img_tel_2.className += "carousel-item carousel-banner-item";

    let img_tel_3 = document.createElement("img");
    img_tel_3.src = "/data/servicepage/banner/3_tel.jpg";
    img_tel_3.className += "carousel-item carousel-banner-item";

    function setImageBanner() {
        var carousel = document.getElementById("banner-carousel-div");
        var width = window.screen.width;

        if (width >= 1000) {

            carousel.prepend(img_pc_3);
            carousel.prepend(img_pc_2);
            carousel.prepend(img_pc_1);

            if (carousel.contains(img_tel_1)) img_tel_1.parentNode.removeChild(img_tel_1);
            if (carousel.contains(img_tel_2)) img_tel_2.parentNode.removeChild(img_tel_2);
            if (carousel.contains(img_tel_3)) img_tel_3.parentNode.removeChild(img_tel_3);
        }
        else {
            var windowInnerHeight = document.documentElement.clientHeight;
            var heightHeader = document.getElementById("header").offsetHeight;

            var notification = document.getElementById("cookies-notification");
            var heightNotification = 0;
            if (notification != null) heightNotification = notification.offsetHeight;

            var height = windowInnerHeight - (heightHeader + heightNotification);

            img_tel_1.height = height;
            img_tel_2.height = height;
            img_tel_3.height = height;

            carousel.prepend(img_tel_3);
            carousel.prepend(img_tel_2);
            carousel.prepend(img_tel_1);

            if (carousel.contains(img_pc_1)) img_pc_1.parentNode.removeChild(img_pc_1);
            if (carousel.contains(img_pc_2)) img_pc_2.parentNode.removeChild(img_pc_2);
            if (carousel.contains(img_pc_3)) img_pc_3.parentNode.removeChild(img_pc_3);
        }
    }

    setInterval(() => changeSlideBanner(), 10000)

    var indexActive = -1;
    function changeSlideBanner() {
        var arraySlide = document.getElementsByClassName("carousel-banner-item");

        if (indexActive < 0) {
            arraySlide[0].classList.add("active");
            indexActive = 0;
        }
        else {
            arraySlide[indexActive].classList.remove("active");
            indexActive += 1;

            if (indexActive >= arraySlide.length) indexActive = 0;
            arraySlide[indexActive].classList.add("active");
        }
    }

    function setMarginBanner() {
        var width = window.screen.width;
        var banner = document.getElementById("mp-banner");
        var heightHeader = document.getElementById("header").offsetHeight;

        if (width <= 1000) {
            banner.style.marginTop = heightHeader + "px";
            banner.style.marginBottom = "0";
        }
        else {

            var heightScreen = window.innerHeight;
            var heightBanner = banner.offsetHeight;

            var notification = document.getElementById("cookies-notification");
            var heightNotification = 0;
            if (notification != null) heightNotification = notification.offsetHeight;

            var margin = (heightScreen - (heightBanner + heightHeader + heightNotification)) / 2;

            if (margin >= 25) {
                banner.style.marginTop = (heightHeader + margin) + "px";
                banner.style.marginBottom = margin + "px";
            }
            else {
                banner.style.marginTop = (heightHeader + 25) + "px";
                banner.style.marginBottom = 25 + "px";
            }
        }
    }

    let indexCarousel = 0;
    function changeCarousel(step) {
        var width = window.screen.width;
        var arrayImg = document.getElementsByClassName("details-carousel-img");

        if (width >= 1000) {
            var index = indexCarousel + step;
            var arrayIndicator = document.getElementsByClassName("carousel-indicator");
            var countImg = arrayImg.length;

            if (index <= -2 || index >= countImg + 1) return;
            if (index == -1) index = countImg - 1;
            if (index == countImg) index = 0;

            for (var i = 0; i < arrayImg.length; i++) {
                if (i == index) {
                    arrayImg[i].style.display = "block";
                    arrayImg[i].style.height = arrayImg[i].offsetWidth + "px";
                    arrayIndicator[i].classList.add("active");

                }
                else {
                    arrayImg[i].style.display = "none";
                    arrayIndicator[i].classList.remove("active");
                }
            }

            indexCarousel = index;
        }
        else {
            for (var i = 0; i < arrayImg.length; i++) {
                arrayImg[i].style.display = "block";
                arrayImg[i].style.height = arrayImg[i].offsetWidth + "px";
            }
        }
    }

    function carouselOver(side) {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            if (side == 0) {
                document.getElementsByClassName("details-btn-img")[0].src = "/data/arrow_left_color.png";
            }

            if (side == 1) {
                document.getElementsByClassName("details-btn-img")[1].src = "/data/arrow_right_color.png";
            }
        }
    }

    function carouselOut(side) {
        if (side == 0) {
            document.getElementsByClassName("details-btn-img")[0].src = "/data/arrow_left.png";
        }

        if (side == 1) {
            document.getElementsByClassName("details-btn-img")[1].src = "/data/arrow_right.png";
        }
    }

    function changeHeightText() {
        var width = window.screen.width;

        if (width > 1000) {
            var arrayImg = document.getElementsByClassName("details-carousel-img");
            var heightCarousel = 0;

            for (var i = 0; i < arrayImg.length; i++) {
                if (arrayImg[i].style.display == "block") {
                    heightCarousel = arrayImg[i].offsetHeight;
                    break;
                }
            }

            if (heightCarousel <= 0) return;
            document.getElementById("serviceDescription").style.maxHeight = heightCarousel + "px";
        }
        else {
            document.getElementById("serviceDescription").style.maxHeight = "none";
        }
    }

    function changeCarouselSize() {
        var arrayImg = document.getElementsByClassName("details-carousel-img");

        for (var i = 0; i < arrayImg.length; i++) {
            if (arrayImg[i].style.display == "block") {
                arrayImg[i].style.height = arrayImg[i].offsetWidth + "px";
            }
        }
    }

</script>
